/* Container */
.banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
  height: 100vh;
  margin-top: -50px;
}

/* Intro Text */
.banner-intro-text {
  font-size: 20px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #ffffff;
}

/* Name Highlight */
.banner-intro-name {
  color: #fdac34;
  font-size: 70px;
  font-family: 'Allura', cursive;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  transition: color 0.3s ease;
}

/* Underline Effect */
.banner-intro-name::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #fdac34;
  bottom: -5px;
  left: 0;
  transition: width 0.4s ease-out;
}

.banner-intro-name:hover::after {
  width: 100%;
}

.banner-intro-name:hover {
  color: #ffa500;
}

/* Subtext */
.banner-intro-subtext {
  font-size: 18px;
  line-height: 1.8;
  max-width: 600px;
}

/* Developer Image */
.banner-dev-image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-image: url('src/assets/images/dev-image.jpg');
  background-size: cover;
  background-position: center;
  border: 4px solid #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 200px;
}

.banner-dev-image:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(253, 172, 52, 0.8);
  border-color: #fdac34;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .banner-container {
    grid-template-columns: 1fr;
    gap: 0px;
    padding: 150px 100px 150px 100px;
  }

  .banner-intro-name {
    font-size: 50px;
  }

  .banner-intro-text {
    font-size: 16px;
  }

  .banner-intro-subtext {
    font-size: 16px;
    line-height: 1.5;
  }

  .banner-dev-image {
    justify-items: center;
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  .banner-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 160px 10px 10px 20px;
  }
}
